.CopyButton {
    cursor: pointer;
    position: relative;
    width: 35px;
    height: 35px;
    background: white;
    outline: none;
    border: 1px solid gray;
    svg {
        width: 20px;
        height: 20px;
    }
}