.main {
    display: flex;
    flex-direction: column;
    align-items: center;


    .radiolabel {
        display: block;
    }

    .numLabel {
        display: block;
        input {
            width: 40px;
            margin-right: 5px;
            margin-left: 5px;
            margin: 5px;
        }
    }
}