.titleblock {
    display: flex;
    flex-basis: 280px;
    width: 280px;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;

    .add {
        margin-right: 10px;
        cursor: pointer;
        .plus {
            color: darkgray;
        }
    }

    span {
        line-height: 16px;
        color: #121212cc;
    }

}


.children {
    display: flex;
    flex-basis: 280px;
    width: 280px;
    justify-content: flex-start;
}

