.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color:#5679BF;
  height: 100%;
  padding-bottom: 100px;

  h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 100;
    color: white;
  }
}



nav {
 
  .NavLink {
    display: inline-block;
    text-decoration: none;
    font-size: small;
    padding: 12px;
    color: white;
    background-color: #41BF84;
    //border: 1px solid white;
    border-radius: 10px;
    margin: 10px;

    &:hover {
      background-color: darken($color: #41BF84, $amount: 2);
    }

    }
  

}


.LoginButton {
   
    display: block;
    cursor: pointer;
    width: 200px;
    text-decoration: none;
    font-size: 25px;
    padding: 12px;
    color: white;
    background-color: #273459;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px auto;

    &:hover {
      background-color: lighten($color: #273459, $amount: 2);
      
    }

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
