.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f4f7fc;
  //background: linear-gradient(to bottom, rgba(92,126,193,1) 0%, rgba(122,163,240,1) 81%, rgba(195,225,240,1) 100%);
  height: 100%;
  padding-bottom: 200px;
  padding-left: 20%;
  padding-right: 20%;

  h1 {
    display: inline;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 100;
    color:#121212;
  }

  .logo {
   // border: 4px solid #1E1E1E;
    margin: 15px auto;
    position: relative;
    right: 35px;

    img {
      display: inline-block;
      width: 70px;
      height: 70px;
      position: relative;
      top: 15px;
      margin-right: 5px;
    }
  }
}



nav {
 
  .NavLink {
    display: inline-block;
    text-decoration: none;
    font-size: small;
    padding: 12px;
    color: white;
    background-color: #41BF84;
    //border: 1px solid white;
    border-radius: 10px;
    margin: 10px;

    &:hover {
      background-color: darken($color: #41BF84, $amount: 2);
    }

    }
  

}


.LoginButton {
   
    display: block;
    cursor: pointer;
    width: 200px;
    text-decoration: none;
    font-size: 25px;
    padding: 12px;
    color: white;
    background-color: #273459;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px auto;

    &:hover {
      background-color: lighten($color: #273459, $amount: 2);
      
    }

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
