@keyframes show{
    0%{
    opacity:0;
    }
    100% {
    opacity:1;
    }
    }

.NavBar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;

    .buttonWraper {
        margin-left: 10px;
        margin-right: 10px;

       .button {
            cursor: pointer;
            display: flex;
            align-items: center;
            background-color: #41BF84;
            border-radius: 10px;
            padding: 8px;

            .icon {
                margin-right: 6px;
                margin-left: 6px;
                color: white;
            }

            span {
                color: white;
            }
        } 
    }
    
}


.options {
    position: absolute;
    transition: 4s;
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    animation: show 0.4s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    z-index: 1;
   .NavLink {
    display: block;
    text-decoration: none;
    font-size: small;
    padding: 8px;
    color: white;
    background-color: #41BF84;
    //border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
    margin-left: 0;

    &:hover {
      background-color: darken($color: #41BF84, $amount: 2);
    }

    } 
}
